@charset "UTF-8";

body * {
	font-family: 'Pretendard Variable', sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #1a1a2e, #16213e);
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;

	div {
		display: flex;
		justify-content: center;

		a.start {
			display: block;
			width: 500px;
		}

		a.sign {
			display: block;
			width: 250px;
		}
	}
}

.btn:hover {
	opacity: 0.8;
}