@charset "UTF-8";

body * {
	font-family: "Pretendard Variable", sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #101053, #385cbd);
}

figure {
	margin: 0;
}

p {
	margin: 0;
}

.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.loading-box {
	width: 300px;
	height: 30px;
}

.progress-text {
	position: absolute;
	top: calc(50% - 12px);
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.1rem;
	font-weight: 500;
	color: #3a3a3a;
}

.container {
	min-width: 920px;
	width: 1500px;
	height: 900px;
	min-height: 900px;
	max-height: 900px;
	margin: 20px auto;
	padding: 10px;
	background-color: #6bd5ff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.room-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	background-color: #dbdbff;
	border-radius: 10px;
	padding: 5px 10px;
}

.room-header-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

.room-header-title {
	padding: 10px 5px;
	font-size: 1.5rem;
	font-weight: bold;
}

.room-header-subtitle {
	margin: 0px;
	padding: 10px 5px;
	font-size: 1rem;
}

.exit-button {
	padding: 10px 20px;
}

.exit-button:active {
	transform: scale(0.95);
	transition: transform 200ms ease;
}

.main {
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	height: 500px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #c3e9ff;
}

.players {
	width: 50%;
	float: left;
	height: 100%;
	min-height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 10px;
}

.player {
	width: 45%;
	height: 65%;
	padding: 10px;
	background-color: #85b5d3;
	border-radius: 10px;
}

.player-header {
	display: flex;
	height: 50px;
	padding: 5px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}

.player-header-box {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 10px;
	font-size: 1.1rem;
	font-weight: 600;
}

.host-figure {
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.host-figure-image {
	width: 100%;
	height: 100%;
}

.player-move {
	padding: 5px 10px;
	text-wrap: nowrap;
}

.player-move:active {
	transform: scale(0.95);
	transition: transform 200ms ease;
}

.player-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - 50px);
	gap: 20px;
	background-color: #d1e4ee;
	border-radius: 10px;
}

.player-figure {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.player-image {
	width: 100%;
	height: 100%;
}

.player-box {
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.player-box-info {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.player-level {
	margin-right: 10px;
}

.player-nickname {
	font-weight: bold;
	text-wrap: nowrap;
}

.player-title {
	font-size: smaller;
}

.player-exp-box {
	text-align: center;
}

.spectators {
	width: 50%;
	height: 100%;
	float: right;
	padding: 5px;
	background-color: #77d6fc;
	border-radius: 10px;
}

.spectators-header {
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
}

.spectators-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
}

.spectator {
	width: 100%;
	padding: 7px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d1e4ee;
	border-radius: 10px;
}

.spectator-info {
	width: calc(100% - 60px);
	display: flex;
	align-items: center;
	gap: 10px;
}

.spectator-figure {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}

.spectator-image {
	width: 100%;
	height: 100%;
}

.spectator-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.spectator-level {
	margin-right: 10px;
}

.spectator-nickname {
	font-weight: bold;
	text-wrap: nowrap;
}

.spectator-title {
	font-size: smaller;
}

.spectator-move {
	width: 55px;
	padding: 5px 10px;
}

.spectator-move:active {
	transform: scale(0.95);
	transition: transform 200ms ease;
}

.sub {
	width: 100%;
	height: 290px;
	padding: 10px;
	display: flex;
	gap: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #c3e9ff;
}

.ready-button {
	width: 250px;
	padding: 10px;
	margin: 20px auto;
	float: left;
	background-color: #47e7e5;
	border: none;
	border-radius: 10px;
	font-size: 2rem;
}

.chat-box {
	width: 100%;
	height: 270px;
	padding: 10px;
	float: right;
	border-radius: 5px;
	background-color: #a9bac5;
}

.chat-box-body {
	width: 100%;
	height: 200px;
	padding: 10px;
	overflow-y: auto;
	border-radius: 5px;
	background-color: #ffffff;
	scrollbar-width: 7px;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #e2e2e2;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #afafaf;
	}

	&::-webkit-scrollbar-thumb:active {
		background-color: #9b9b9b;
	}
}

.message-box {
	display: flex;
	gap: 10px;
	padding: 2px 5px;
}

.chat-user {
	color: #6c44d8;
	text-wrap: nowrap;
	font-weight: 600;
}

.chat-message {
	font-size: medium;
	text-wrap: wrap;
	word-wrap: break-word;
}

.chat-input {
	margin-top: 6px;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
}